@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer components {
  .transition-colors {
    @apply transition-[background-color,border-color,color,fill,stroke];
  }

  .transition-opacity {
    @apply transition-[opacity];
  }

  .transition-transform {
    @apply transition-[transform];
  }

  .transition-shadow {
    @apply transition-[box-shadow];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 